
.input {
  background: none;
  border: none;
  box-sizing: border-box;
  outline: none;
  height: 43px;
  font-size: var(--text-l);
  font-weight: var(--font-semibold);
  color: var(--color-white);
  text-align: end;
}

